.homeDiv {
  position: absolute;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
min-height: 100vh;
  left: 200px;
  top: 64px;
  /* border: 1px solid black; */
  background: #121212;
  margin:auto;

 overflow-x:scroll ; 
}

.homeDiv>div{
  width:90%;
  margin:15px auto;
  padding:0 10px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: white;
  margin-top: 64px;
  margin-left: 32px;
  font-weight: 700;
  line-height: 36px;
}

.pop {
  border: 1px solid white;
  width: 216px;
  height: 304px;
  background: #181818;
  display: flex;
  flex-direction: column;
  mix-blend-mode: normal;
  margin: 5px;
}

.pop > img {
  width: 184px;
  height: 184px;
  padding: 16px;
}
.pop > h4 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 16px;
  font-size: 15px;
}
.pop > p {
  color: white;
  padding-left: 16px;
  margin-top: 1px;
  font-size: 12px;
}
