.navbar {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 200px;
  top: 0px;
  background: #20333a;
}
.btn {
  position: absolute;
  font-weight: 600;
  width: 140px;
  height: 36px;
  right: 332px;
  top: 17px;
  background: #20333a;
  border: none;
  color: white;
}
.btn1 {
  position: absolute;
  width: 127px;
  height: 40px;
  right: 220px;
  top: 16px;
  background: white;
  border-radius: 48px;
  color: black;
}
