.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 64px;
  left: 230px;
  top: 0px;
  background: #20333a;
  display: flex;
}
.btn {
  position: absolute;
  color: white;
  font-weight: bold;
  width: 140px;
  height: 36px;
  right: 410px;
  top: 14px;
  background: #181818;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 56px;
  /* border:none; */
}
.btn1 {
  position: absolute;
  width: 144px;
  height: 32px;
  right: 250px;
  top: 16px;
  background: #0a0f11;
  border-radius: 48px;
  color: white;
  border: none;
}
.boxings{
  margin-left: 24px;
  margin-top: 16px;
  width: 90px;
  height: 32px;
  display: flex;
}
.boxings>div:nth-child(1)>img{
  position: relative;
  left: 30%;
  top:25%;
  transform: rotateY(180deg);
}
.boxings>div:nth-child(2)>img{
  position: relative;
  left: 35%;
  top:25%;
}
.boxings>div:nth-child(1){
  width: 32px;
  height: 32px;
  background-color: #181818;
  margin-right: 20px;
  border-radius: 16px;
}
.boxings>div:nth-child(2){
  width: 32px;
  border-radius: 16px;
  height: 32px;
  background-color: #181818;
}
@media only screen and (max-width: 900px){
    
 .btn,.btn1{
   display: none;
 }
  .navbar input{
    width:100%;
  }




}
